<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    <p class="error" *ngIf="error==true">Invalid username or password</p>
  </mat-card-content>
  <span class = "forgotPassword" routerLink="/forgot-password" color="primary">Forgot password?</span>
  <mat-card-actions>
    <button mat-raised-button (click)="login()">Login</button>
  </mat-card-actions>
  <mat-card-actions>
    <button mat-stroked-button routerLink="/sign-up" color="primary">SIGN UP NOW</button>
  </mat-card-actions>
</mat-card>