<div class="user-list-wrapper">
    <app-admin-sidenav></app-admin-sidenav>
    
    <table mdbTable>
        <thead>
          <tr>
            <th scope="col">username</th>
            <th scope="col">email</th>
            <th scope="col">roles</th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let user of userListService.users">
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.roles}}</td>
            <td><button mat-icon-button (click)="showEditRoles(user)"><mat-icon>edit</mat-icon></button></td>
            <td><button mat-icon-button (click)="showDeleteUser(user)"><mat-icon>delete_outline</mat-icon></button></td>
          </tr>
        </tbody>
      </table>
</div>
