<mat-card-header>
  <mat-card-title>Reset password</mat-card-title>
</mat-card-header>
<mat-card-content>
<form [formGroup]="resetPasswordGroup" class="example-form">
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput formControlName="password" placeholder="Password" type="password" name="password"
            minlength="8" required>
        </mat-form-field>
        <mat-error *ngIf="hasError('password', 'required') && f.password.touched">Password is required</mat-error>
        <mat-error *ngIf="hasError('password', 'minlength') && f.password.touched">Password needs to be at least 
          8 characters</mat-error>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput formControlName="confirmPassword" placeholder="Confirm password" type="password"
            name="confirm-password" required>
        </mat-form-field>
        <mat-error *ngIf="hasError('confirmPassword', 'required') && f.confirmPassword.touched">Confirm password is
          required</mat-error>
        <mat-error *ngIf="hasError('confirmPassword', 'mustMatch') && f.confirmPassword.touched">Confirm password
          must be the same as password</mat-error>
      </td>
    </tr>
  </table>
</form>
<mat-card-actions>
  <button routerLink="/login" mat-raised-button (click)="resetPassword()" color="primary" [disabled]="!resetPasswordGroup.valid">Reset password</button>
</mat-card-actions>
</mat-card-content>

