<div class="director-list-wrapper">
    <app-admin-sidenav></app-admin-sidenav>
    
    <div>
      <button (click)="addDirector()">Add director</button>
      <table mdbTable>
        <thead>
          <tr>
            <th scope="col">name</th>
            <th scope="col">surname</th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let director of directorListService.directors">
            <td>{{director.name}}</td>
            <td>{{director.surname}}</td>
            <td><button mat-icon-button (click)="showDeleteDirector(director)"><mat-icon>delete_outline</mat-icon></button></td>
          </tr>
        </tbody>
      </table>
  
    </div>
  </div>
  